<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h3>
                        nickname:
                    </h3>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <div class="row">
                            <input type="text" class="form-control" id="nick_name"/>
                            </div>
                            <div class="row text-right">
                            <button type="button" class="btn btn-default" id="submit">
                                Submit
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        var nick_name = $('#nick_name');
        $('#submit').click(function () {
            if (nick_name.val()) {
                $.post('/query', {nick_name: nick_name.val()})
                        .done(function (data) {
                            console.log("success:", data);
                        })
                        .fail(function (err) {
                            console.log("error", err);
                        })
            }
        });
    });
</script>
</html>
