<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<div>
    <fieldset>
        <legend>Log in</legend>
        <ul>
            <li><label for="nick_name">Nickname</label> <input type="text" id="nick_name">
            </li>
            <li>
                <button id="submit">submit</button>
            </li>
        </ul>
    </fieldset>

</div>
</body>
<script>
    $(document).ready(function () {
        var nick_name = $('#nick_name');
        $('#submit').click(function () {
            if (nick_name.val()) {
                $.post('/query', {nick_name: nick_name.val()})
                        .done(function (data) {
                            console.log("success:", data);
                        })
                        .fail(function (err) {
                            console.log("error", err);
                        })
            }
        });
    });
</script>
</html>
